.nav-bar{
    /* position: static; */
    font-size: 20px;
    background-color: red;
    height: 50px;
    color: black;
    font-size: 25px;
    font-style: italic;
}
ul{
    display: flex;
    list-style: none;  
}
ul li{
    padding-right: 50px;
}
.row-container img{
    width: 320px;
    height: 320px;
    padding: 20px;
}
.row-container img:hover{
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    width: 400px;
}
.footer-container{
    list-style: none;
}
.images img{
    width: 450px;
    
}
.card{
    justify-content: space-between;
}
