.pizza img{
    width: 400px;
}
#pictures .para1{
    width: 200px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#pictures .para2{
    width: 300px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 200px;
}
#pictures .para1.one-line{
    width: 300px;
    margin-left: 50px;
} 
.drinks-row{
    display: flex;
    justify-content: flex-start;
}
.drinks-row img{
    width: 400px;
}
h2{
    text-align: center; 
    font-size: 30px;
    text-decoration: underline;
}

.form-check-input{
    font-size: 18px;
    text-align: center;
}
/* #form{
    background-color: yellow;

} */
.form-check-label{
    padding-right: 200px;
    padding-left: 0px;
}
#print-crust, #print-size, #print-topping{
    position: relative;
    left: 350px;
}



